# --- PyTorch (GPU Version - Stable CUDA 12.4) ---
--extra-index-url https://download.pytorch.org/whl/cu124
torch>=2.5.1
torchvision>=0.20.1

# --- Core Computer Vision ---
ultralytics>=8.4.60    # The Framework
opencv-python>=4.13.0.92 # Video Processing
numpy>=2.2.6         # Math

# --- Tracking & Slicing ---
supervision>=0.28.0   # Contains ByteTrack & InferenceSlicer

# --- CRITICAL: TensorRT & Export Support ---
tensorrt>=10.16.1.11;  
onnx>=1.21.0        # Required for .pt -> .engine conversion
onnxruntime-gpu>=1.23.2 # Fallback acceleration

# --- Utilities ---
PyYAML>=6.0.3
requests>=2.34.2
tqdm>=4.67.3